@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: row;
  background-color: #dfeeff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

.sidebar {
  display: flex;
  flex-direction: column;

  margin: 18px 0 30px 17px;
  height: 96vh;
  width: 358px;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(315deg, #70d3e9, #5794d6, #3f54c4);
  border-radius: 20px;
  align-items: center;
}

.sidebar-main {
  padding: 32px 50px 0 50px;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo img {
  width: 60px;
  height: 58px;
}

.logo h1 {
  font-size: 25px;
  font-weight: 800;
  padding-left: 22px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 35px;
  padding: 25px 32px;
  background-color: white;
  border-radius: 20px;
}

.profile img {
  height: 120px;
}

.profile h3 {
  font-size: 25px;
  font-weight: 800;
  margin-top: 14px;
}

.profile h5 {
  color: #6c6a6a;
  font-size: 15px;
  font-weight: 800;
  margin-top: 2px;
}

.navbar {
  margin-top: 44px;
  width: 100%;
  margin-left: 30px;
}

.navbar ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style-type: none;
}

.navbar a {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  font-size: 20px;
  font-weight: 800;
  padding: 10px 19px;
}

.navbar a img {
  margin-right: 8px;
}

.navbar .nilaiku {
  color: #5286d2;
  background-color: white;
  border-radius: 20px;
  margin-right: 100px;
}

/* Main Content */
.main-content {
  display: flex;
  flex-direction: column;
  margin-top: 72px;
  margin-bottom: 30px;
  margin-left: 438px;
}

.main-content h1 {
  font-size: 60px;
  font-weight: 800;
  margin-bottom: 20px;
}

.content-container {
  display: flex;
  flex-direction: row;
  gap: 23px;
}

.info-siswa {
  display: flex;
  flex-direction: column;
  padding: 39px 0px 37px 38px;
  background-color: white;
  border-radius: 20px;
  width: 698px;
}

.info-siswa h4 {
  font-size: 30px;
}

.top-info {
  display: flex;
  flex-direction: row;
  padding-bottom: 40px;
}

.top-info h4 {
  font-weight: 800;
}

.semester {
  padding-left: 109px;
}

.info-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.rata-nilai {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
  width: 289px;
  height: 311px;
  background-color: white;
  border-radius: 20px;
  padding: 35px 30px 0 30px;
}

.rata-nilai h3 {
  font-size: 30px;
  font-weight: 700;
}

.rata-rata {
  font-weight: 600;
}

.nilai-siswa {
  display: flex;
  flex-direction: column;
  padding: 15px 33px 0 50px;
  margin-top: 27px;
  background-color: white;
  border-radius: 20px;
}

.nilai-siswa h3 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 11px;
}

.info-nilai {
  display: flex;
  flex-direction: column;
}

.header-nilai {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #457ed4;
  border-radius: 20px;
  padding: 6px 72px 5px 47px;
}

.header-nilai h4 {
  font-size: 25px;
  font-weight: 700;
  color: white;
}

.score {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 6px 72px 5px 47px;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

.score h5 {
  font-size: 20px;
  font-weight: 700;
}
