@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: #dfeeff;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

.header {
  display: flex;
  gap: 50px;
  align-items: center;
  padding: 33px 0 36px 52px;
}

.back-button {
  width: 72px;
  height: 72px;
}

.title {
  font-size: 60px;
  font-weight: 800;
  font-family: "Inter", sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  padding: 15px 33px 0 50px;
  background-color: white;
  border-radius: 20px;
  margin: 0 90px 11px 90px;
}

.main-container h3 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 11px;
}

.info-nilai {
  display: flex;
  flex-direction: column;
}

.header-nilai {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #457ed4;
  border-radius: 20px;
  padding: 16px 88px 17px 45px;
}

.header-nilai h4 {
  font-size: 30px;
  font-weight: 700;
  color: white;
}

.score {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 88px 17px 45px;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

.score h5 {
  font-size: 20px;
  font-weight: 600;
}
