@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  display: flex;
  background-color: #dfeeff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

.sidebar {
  display: flex;
  flex-direction: column;
  margin: 18px 0 30px 17px;
  height: 96vh;
  width: 358px;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(315deg, #70d3e9, #5794d6, #3f54c4);
  border-radius: 20px;
  align-items: center;
}

.sidebar-main {
  padding: 32px 50px 0 50px;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo img {
  width: 60px;
  height: 58px;
}

.logo h1 {
  font-size: 25px;
  font-weight: 800;
  padding-left: 22px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 35px;
  padding: 25px 32px;
  background-color: white;
  border-radius: 20px;
}

.profile img {
  height: 120px;
}

.profile h3 {
  font-size: 25px;
  font-weight: 800;
  margin-top: 14px;
}

.profile h5 {
  color: #6c6a6a;
  font-size: 15px;
  font-weight: 800;
  margin-top: 2px;
}

.navbar {
  margin-top: 44px;
}

.navbar ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style-type: none;
}

.navbar a {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  font-size: 25px;
  font-weight: 800;
}

.navbar a img {
  margin-right: 8px;
}

/* Main Content */
.main-content {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 38px;
}

.main-content h1 {
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 20px;
}

.kotak {
  background-image: url("../img/Group 389.png");
  width: 742px;
  height: 100px;
  border-radius: 20px;
  align-items: center;
  display: flex;
}

.kotak button {
  cursor: pointer;
}

#isi {
  margin-left: 20px;
  color: white;
}

#tombol {
  margin-left: auto;
  margin-right: 20px;
  padding: 0;
  width: 100px;
  height: 30px;
  border: 0;
  border-radius: 10px;
  background-color: white;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

#tombol:hover {
  transform: scale(1.1);
  background-color: rgb(0, 110, 255);
  color: white;
}

.search {
  width: 370px;
  height: 50px;
  border-radius: 20px;
  border: 0;
  padding-left: 20px;
  margin-top: 15px;
  background-color: white;
  outline: none;
  font-size: 15px;
}

#cari {
  position: absolute;
  top: 39.2%;
  left: 49%;
  transform: translate(-50%, -50%);
}

#jud {
  margin-top: 15px;
}

.bungkus {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  gap: 20px;
}

.kotak21 {
  width: 420px;
  height: 168px;
  border-radius: 30px;
  background-color: #2ed0ff;
  cursor: pointer;
  align-content: center;
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
  z-index: 0;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.kotak21:hover {
  transform: scale(1.07);
}

.sub {
  display: flex;
  margin-bottom: 10px;
}

.sub img {
  margin-left: auto;
}

.gambar {
  margin-left: 20px;
}

.kelas {
  background-color: white;
  border-radius: 20px;
  height: 15px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: fit-content;
  padding: 10px;
}

.kelas h4 {
  margin: 10px;
}

.kotak31 {
  width: 300px;
  height: 168px;
  border-radius: 30px;
  background-color: #ffcd4b;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.kotak31:hover {
  transform: scale(1.07);
}

.gambar1 img {
  margin-right: 5px;
  margin-left: 5px;
}

.konten {
  margin-right: 5px;
}

.susun {
  display: flex;
  margin: 0 0px 0 370px;
  width: 100px;
}

.kanan {
  position: fixed;
  top: 0;
  right: 0;
  margin-left: 15px;
}

.notif {
  width: 320px;
  height: 380px;
  background-color: #3f54c4;
  margin: 20px;
  margin-left: auto;
  border-radius: 20px;
}

.notif button {
  cursor: pointer;
}

.notif h1 {
  color: white;
  padding: 20px;
  padding-bottom: 0;
}

#semua {
  width: 120px;
  height: 30px;
  border-radius: 20px;
  background-color: white;
  float: right;
  border: none;
}

#semua:hover {
  background-color: rgb(130, 130, 130);
  color: white;
}

.but {
  background-color: #2ed0ff;
  margin-right: 30px;
}

.petak12 {
  width: 280px;
  height: fit-content;
  margin: 20px;
  border-radius: 20px;
  background-color: #fe7373;
  align-items: center;
  display: flex;
  color: white;
}

#waktu {
  color: white;
  font-size: 10px;
}

.sampul {
  margin-top: 3px;
  margin-bottom: 3px;
}

.petak12 img {
  float: left;
  margin: 15px;
}

.des {
  margin: 0;
  padding: 0;
  text-align: left;
}

.des p {
  font-size: 13px;
}

.petak13 {
  width: 280px;
  height: auto;
  margin: 20px;
  border-radius: 20px;
  background-color: #64de2b;
  align-items: center;
  display: flex;
  color: white;
}

.petak13 img {
  float: left;
  margin: 15px;
}

.petak14 {
  width: 280px;
  height: auto;
  margin: 20px;
  border-radius: 20px;
  background-color: #bed94f;
  align-items: center;
  display: flex;
  color: white;
}

.petak14 img {
  float: left;
  margin: 15px;
}

.timeline {
  width: 330px;
  height: 300px;
  background-color: #3f54c4;
  border-radius: 20px;
}

.timeline button {
  cursor: pointer;
}

.timeline h1 {
  color: white;
  padding: 20px;
  padding-bottom: 0;
}

.petak2 {
  font-size: 13px;
  align-content: center;
  padding-left: 15px;
}

#bio {
  color: #6c6a6a;
}

.ton {
  display: flex;
  width: 280px;
  height: 100px;
  border-radius: 20px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.kerja {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.kerja button {
  border-radius: 30px;
  width: 100px;
  height: 35px;
  background-color: red;
  color: white;
  border: none;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.kerja button:hover {
  transform: scale(1.07);
}

.k {
  background-image: url("");
}
