@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: row;
  background-color: #dfeeff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

.sidebar {
  display: flex;
  flex-direction: column;
  margin: 18px 0 30px 17px;
  height: 100vh;
  width: 358px;
  background: linear-gradient(315deg, #70d3e9, #5794d6, #3f54c4);
  border-radius: 20px;
  align-items: center;
}

.sidebar-main {
  padding: 32px 50px 0 50px;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo img {
  width: 60px;
  height: 58px;
}

.logo h1 {
  font-size: 25px;
  font-weight: 800;
  padding-left: 22px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 35px;
  padding: 25px 32px;
  background-color: white;
  border-radius: 20px;
}

.profile img {
  height: 120px;
}

.profile h3 {
  font-size: 25px;
  font-weight: 800;
  margin-top: 14px;
}

.profile h5 {
  color: #6c6a6a;
  font-size: 15px;
  font-weight: 800;
  margin-top: 2px;
}

.navbar {
  margin-top: 44px;
}

.navbar ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style-type: none;
}

.navbar a {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  font-size: 25px;
  font-weight: 800;
}

.navbar a img {
  margin-right: 8px;
}

/* Main Content */
.main-content {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 38px;
}

.main-content h1 {
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 20px;
}

.kotak{
    background-color: #67B1E6;
    width: 700px;
    height: 100px;
    border-radius: 20px;
    align-items: center;
    display: flex;
}

#isi{
    margin-left: 20px;
    color: white;
}

#tombol{
    margin-left: 240px;
    padding: 0;
    width: 100px;
    height: 30px;
    border: 0;
    border-radius: 10px;
    background-color: white
}

.search{
    width: 370px;
    height: 50px;
    border-radius: 20px;
    border: 0;
    padding-left: 20px;
    margin-top: 15px;
    background-color: white;
}

#jud{
    margin-top: 15px;
}

.bungkus{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.kotak21{
    width: 400px;
    height: 150px;
    border-radius: 30px;
    background-color: #2ED0FF;
    margin: 10px;
}

.kotak22{
  width: 400px;
  height: 150px;
  border-radius: 30px;
  background-color: #C261FE;
  margin: 10px;
}

.kotak23{
  width: 400px;
  height: 150px;
  border-radius: 30px;
  background-color: rgb(0, 162, 221);
  margin: 10px;
}

.kotak31{
  width: 250px;
  height: 150px;
  border-radius: 30px;
  background-color: #FFCD4B;
  margin: 10px; 
}

.kotak32{
  width: 250px;
  height: 150px;
  border-radius: 30px;
  background-color: #50FF76;
  margin: 10px; 
}

.kotak33{
  width: 250px;
  height: 150px;
  border-radius: 30px;
  background-color: #70d3e9;
  margin: 10px; 
}

.susun{
  display: flex;
}

.kanan{
  margin-left: 15px;
}

.notif{
  width: 360px;
  height: 380px;
  background-color: #3F54C4;
  margin: 20px;
  border-radius: 20px;
}

.notif h1{
  color: white;
  padding: 40px;
  padding-bottom: 0;
}

#semua{
  width: 120px;
  height: 30px;
  border-radius: 20px;
  background-color: white;
  float: right;
  border: none;
}

.but{
  background-color: #2ED0FF;
  margin-right: 30px;
}

.petak12{
  width: 300px;
  height: 60px;
  margin: 20px;
  margin-left: 30px;
  border-radius: 20px;
  background-color: #FE7373;
  align-items: center;
  display: flex;
  color: white;
}

.petak12 img{
  float: left;
  margin: 15px;
}

.des{
  margin: 0;
  padding: 0;
  text-align: left;
}

.des p{
  font-size: 13px;
}

.waktu{
  font-size: 10px;
  display: flex;
  align-items: end;
  position: absolute;
  color: #FFFFFF;
}

.petak12 .waktu{
  top: 22%;
  right: 2.5%;
  transform: translate(-50%,-50%);
}

.petak13{
  width: 300px;
  height: 60px;
  margin: 20px;
  margin-left: 30px;
  border-radius: 20px;
  background-color: #64DE2B;
  align-items: center;
  display: flex;
  color: white;
}

.petak13 img{
  float: left;
  margin: 15px;
}

.petak13 .waktu{
  top: 33%;
  right: 2.5%;
  transform: translate(-50%,-50%);
}

.petak14{
  width: 300px;
  height: 60px;
  margin: 20px;
  margin-left: 30px;
  border-radius: 20px;
  background-color: #BED94F;
  align-items: center;
  display: flex;
  color: white;
}

.petak14 img{
  float: left;
  margin: 15px;
}

.petak14 .waktu{
  top: 44%;
  right: 2.5%;
  transform: translate(-50%,-50%);
}

.timeline{
  width: 360px;
  height: 350px;
  background-color: #3F54C4;
  margin: 20px;
  border-radius: 20px;
}

.timeline h1{
  color: white;
  padding: 40px;
  padding-bottom: 0;
}

.petak2{
  font-size: 13px;
  align-content: center;
  padding-left: 15px;
}

#bio{
  color: #6c6a6a;
}

.ton{
  display: flex;
  width: 300px;
  height: 100px;
  margin: 20px;
  margin-left: 35px;
  border-radius: 20px;
  background-color: white;
}

.kerja{
  display: flex;
  align-items: center;
}

.kerja button{
  border-radius: 30px;
  width: 100px;
  height: 35px;
  background-color: red;
  color: white;
  border: none;
}

