@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Inter", sans-serif;
  background: linear-gradient(135deg, #70d3e9, #122aa7);
  background-attachment: fixed;
}
/* Navbar */
.navbar {
  display: flex;
  padding: 30px 40px;
}

.logo-icon {
  display: flex;
  align-items: center;
}

.logo-icon a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  font-weight: 800;
  font-size: 18px;
}

.logo-icon a img {
  height: 42px;
  padding-right: 10px;
}

/* Signup Container */
.signup-container {
  display: flex;
  position: relative;
  margin: 0px 100px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.signup-left img {
  margin-top: 50px;
  margin-left: 40px;
  height: 320px;
  width: 331px;
}

.signup-right {
  display: flex;
  position: absolute;
  justify-content: center;
  left: 50%;
  border-radius: 60px;
  width: 504px;
  height: 500px;
  background-color: white;
}

.signup-card {
  width: 85%;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 40px;
}

.signup-card h4 {
  font-size: 20px;
  font-weight: 800;
}

/* Status */
.status {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.status p {
  font-weight: 600;
  font-size: 12px;
  color: #666161;
}

.status-options {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.status-option {
  display: inline-block;
  font-size: 13px;
  font-weight: 600;
  position: relative;
}

.status-option input {
  display: none;
}

input::placeholder {
  opacity: 0.7;
}

.status-option label {
  display: block;
  padding: 15px 42px;
  background-color: #ffff;
  color: black;
  border: 1px solid #3162bc;
  cursor: pointer;
}

.status-option label:hover {
  background-color: #3468bf80;
  transition: 0.3s;
}

.status-option input:checked + label {
  background-color: #3468bf80;
}

.status-option:first-child label {
  border-right: none;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
}

.status-option:last-child label {
  border-left: none;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
}

/* Biodata */
.biodata {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-top: 20px;
}

.first-line {
  display: flex;
  flex-direction: row;
}

.first-line #fullName,
.first-line #numberPhone {
  width: 42.5%;
  height: 40px;
  padding-left: 20px;
  font-size: 13px;
  font-weight: 600;
  border-radius: 14px;
  border: 1px solid black;
  color: #666161;
}

.first-line #numberPhone {
  margin-left: 10px;
}

.biodata #email {
  width: 93%;
  height: 40px;
  padding-left: 20px;
  font-size: 13px;
  font-weight: 600;
  border-radius: 14px;
  border: 1px solid black;
  color: #666161;
}

.pass-container {
  width: 38.3%;
  height: 42px;
  display: flex;
  padding: 0px 20px;
  border-radius: 14px;
  border: 1px solid black;
  align-items: center;
}

.pass-container input {
  width: 90%;
  font-size: 13px;
  border: none;
  outline: none;
  font-weight: 600;
  color: #666161;
}

.pass-container img {
  width: 24px;
  cursor: pointer;
}

.third-line {
  display: flex;
  flex-direction: row;
}

.token-card {
  display: flex;
  flex-direction: column;
}

.token-card p {
  font-size: 9px;
  text-align: center;
  padding-left: 10px;
}

.token-card input {
  margin-left: 10px;
  height: 40px;
  padding-left: 20px;
  font-size: 13px;
  font-weight: 600;
  border-radius: 14px;
  border: 1px solid black;
  color: #666161;
}

#signup-btn {
  text-align: center;
  width: 80%;
  padding: 10px 0px;
  margin-top: 10px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  color: white;
  background-color: #4288d9;
}

#signup-btn:hover {
  color: black;
  background-color: #4288d9;
  transition: 0.2s;
}

.syarat {
  text-align: center;
  font-size: 8px;
  margin-top: 20px;
}

.syarat span {
  color: #1196e1;
  cursor: pointer;
}

/* Media Queries */
/* Laptop 1024px */
@media (max-width: 1024px) {
  .signup-container {
    margin: 0px 70px;
    position: static;
  }

  .signup-right {
    position: static;
    top: none;
    left: none;
    margin-right: 10px;
  }

  .signup-left img {
    margin-left: 0px;
  }

  .status-option label {
    padding: 15px 42px;
  }
}

@media (max-width: 768px) {
  body {
    height: 130vh;
  }

  .signup-container {
    position: relative;
  }

  .signup-right {
    position: absolute;
    top: 50%;
    left: 11%;
  }

  .signup-left img {
    display: none;
  }

  .status-option label {
    padding: 15px 40px;
  }
}

@media (max-width: 425px) {
  .signup-container {
    margin: 0px;
  }
  .signup-right {
    left: 0%;
  }
}
